* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.carouselA {
  background: #fff;
}

/* Custom, iPhone Retina */ 
@media screen and (min-width : 320px) {
	.carouselA-cell {
		position: absolute;
		width: 100%;
		height: auto;
		margin-right: 4px;
		background: #fff;
		border-radius: 5px;
		background-position: center center;
		background-size: cover;
	}
	.carouselA-cell-image {
		height: 200px;
		overflow: hidden;
	}
	.carouselA-cell-image img {
		min-width: 100%;
		min-height: 100%;
	}
}

/* Extra Small Devices, Phones */ 
@media screen and (min-width : 480px) {
	.carouselA-cell {
		position: absolute;
		width: 90%;
		height: auto;
		margin-right: 4px;
		background: #fff;
		border-radius: 5px;
		background-position: center center;
		background-size: cover;
	}

	.carouselA-cell-image {
		height: 200px;
		overflow: hidden;
	}

	.carouselA-cell-image img {
		min-width: 100%;
		min-height: 100%;
	}
}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
	.carouselA-cell {
		position: absolute;
		width: 40%;
		height: auto;
		margin-right: 4px;
		background: #fff;
		border-radius: 5px;
		background-position: center center;
		background-size: cover;
	}

	.carouselA-cell-image {
		height: 200px;
		overflow: hidden;
	}

	.carouselA-cell-image img {
		min-width: 100%;
		min-height: 100%;
	}
}

/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
	.carouselA-cell {
		position: absolute;
		width: 80%;
		height: auto;
		margin-right: 4px;
		background: #fff;
		border-radius: 5px;
		background-position: center center;
		background-size: cover;
	}

	.carouselA-cell-image {
		height: 300px;
		overflow: hidden;
	}

	.carouselA-cell-image img {
		min-width: 100%;
		min-height: 100%;
	}
}

/* Large Devices, Wide Screens */
@media screen and (min-width : 1200px) {
	.carouselA-cell {
		position: absolute;
		width: 80%;
		height: auto;
		margin-right: 4px;
		background: #fff;
		border-radius: 5px;
		background-position: center center;
		background-size: cover;
	}

	.carouselA-cell-image {
		height: 300px;
		overflow: hidden;
	}

	.carouselA-cell-image img {
		min-width: 100%;
		min-height: 100%;
	}
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) { 
  
  }
  
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
  
  }
  
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
  }