
/*-- main --*/
.player-list {
  margin: 0 auto;
  width: 50%;
}

.player-main {
  /*padding: 4.5em 0 4.5em 0;*/
}

.player-main h1,.player-main h3 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.player-main h3 {
  margin-top: 40px;
}

.player-main p {
  margin-top: 2em;
  line-height: 1.8em;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.player-main p a {
  color: #415ba6;
  text-decoration: none;
}

.player-main p a:hover {
  color: #fff;
}

@media (max-width: 1280px) {
  .player-list {
    width: 40%;
  }
}

@media (max-width: 1080px) {
  .player-main h1, .player-main h3 {
    font-size: 44px;
  }
}

@media (max-width: 1024px) {
  .player-main {
    /*padding: 3.5em 0 3.5em 0;*/
  }

  .player-list {
    width: 44%;
  }
}

@media (max-width: 900px) {
  .player-main h1, .player-main h3 {
    font-size: 40px;
  }

  .player-list {
    width: 60%;
  }
}

@media (max-width: 667px) {
  .player-list {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .player-main h1, .player-main h3 {
    font-size: 38px;
  }
}

@media (max-width: 600px) {
  .player-list {
    width: 68%;
  }
}

@media (max-width: 568px) {
  .player-main p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .player-list {
    width: 73%;
  }
}

@media(max-width:414px) {
  .player-list {
    width: 86%;
  }
}

@media(max-width:384px) {
  .player-list {
    width: 90%;
  }

  .jp-audio .jp-volume-controls {
    right: 32px;
  }
}

@media(max-width:375px) {
  .player-main h1, .player-main h3 {
    font-size: 32px;
  }

  .player-main {
    /*padding: 3em 0 3em 0;*/
  }

  .player-main h1, .player-main h3 {
    margin-bottom: 25px;
  }

  .player-main p {
    font-size: 13px;
    width: 95%;
    margin: 2em auto 0 auto;
  }
}

@media(max-width:320px) {
  .player-main h1, .player-main h3 {
    font-size: 30px !important;
  }
}